.navbar{
	width: 100%;
	background-color: gold;
	color: black;
}

.navbar > ul{
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.navbar > ul > li{
	display: inline-block;
	width: 100px;

}

/*Här använder vi <a> inte <Link>*/
.navbar > ul > li > a{
	text-decoration: none;
	color: black;
	padding: 24px;
	font-weight: 800;
	font-size: 24px;
}

.navbar > ul > li > a:hover{
	background-color: yellow;
}


.nav-flex{
	width: 100%;
	height: 64px;
	background-color: gold;
	color: black;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.nav-flex > .item{
	width: 120px;
	height: 100%;
	padding: 12px;
	display: flex;
	align-items: center;
	font-size: 24px;
	font-weight: 600;
}

.nav-flex > .item > a{
	color: black;
	text-decoration: none;
}

.nav-flex > .item > a:hover{
	text-decoration: underline;
}